.header {
    &__top-panel {
        background-color: $secondary;
        padding: 0 5rem;
    }

    &__contact-link {
        color: $colorLight;
        font-size: 1.1rem;
        display: flex;
        align-items: center;

        @include media-breakpoint-up(md) {
            font-size: 0.9rem;
        }
    }

    &__hero-content {
        display: flex;
        align-items: center;
        color: $white;
        @include image("slider.png");
        background-position: center;
        min-height: 400px;

        @include media-breakpoint-up(xl) {
            min-height: 500px;
        }
        
        @include media-breakpoint-up(xl) {
            min-height: 600px;
        }
    }

    &__logo {
        max-width: 250px;
    }

    &__desc {
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    &__intro {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 2rem;

        @include media-breakpoint-up(md) {
            background-color: transparent;
            padding: 0;
        }
    }

    &__heading {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: 2.5rem;
        }
        
        @include media-breakpoint-up(lg) {
            font-size: 4rem;
        }
        
        @include media-breakpoint-up(xxl) {
            font-size: 5rem;
        }
    }
}

