.form {

    &__important {
        visibility: hidden;
        height: 0;
        margin-top: 0;
    }

    &__resp {

    }

    &__errors {
        list-style-type: none;
    }
}


button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}