.company {
    color: $secondary;
    background-color: $accent;

    &__image {
       @include image("zdj1.jpg");
        height: 300px;
        @include media-breakpoint-up(md) {
            height: 100vh;
        }
    }

    &__content {
        padding: 2rem 1rem;
        text-align: justify;

        @include media-breakpoint-up(sm) {
            max-width: 540px;
            margin: 0 auto;
            padding: 2rem 0;
        }

        @include media-breakpoint-up(sm) {
            max-width: 100%;
            margin: 0;
            padding: 2rem 2rem;
        }

        @include media-breakpoint-up(lg) {
            max-width: 100%;
            margin: 0;
            padding: 2rem 4rem;
        }
    }
}
